<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,424}</string>
                <key>spriteSourceSize</key>
                <string>{844,424}</string>
                <key>textureRect</key>
                <string>{{0,0},{844,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus-wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,482}</string>
                <key>spriteSourceSize</key>
                <string>{778,482}</string>
                <key>textureRect</key>
                <string>{{0,424},{778,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,352}</string>
                <key>spriteSourceSize</key>
                <string>{778,352}</string>
                <key>textureRect</key>
                <string>{{0,906},{778,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{843,538}</string>
                <key>spriteSourceSize</key>
                <string>{843,538}</string>
                <key>textureRect</key>
                <string>{{0,1258},{843,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text.png</string>
            <key>size</key>
            <string>{844,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a13ad930c79949d39ece4f61069bfeb:b3d44989ed933fbd5987eb0c9267523a:771fef741166e532cf41f06d8c5cfc62$</string>
            <key>textureFileName</key>
            <string>text.png</string>
        </dict>
    </dict>
</plist>
