<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1464,1071}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1464,1071}}</string>
				<key>sourceSize</key>
				<string>{1464,1071}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1209},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1122},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1382},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_chonchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1295},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1642},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_chonle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1555},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1122},{120,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,121}}</string>
				<key>sourceSize</key>
				<string>{120,121}</string>
			</dict>

			<key>btn_quaynhanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1364},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,118}}</string>
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>

			<key>btn_quaynhanh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1914},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,130}}</string>
				<key>sourceSize</key>
				<string>{129,130}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1728},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1468},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1244},{118,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,119}}</string>
				<key>sourceSize</key>
				<string>{118,119}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1914},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,130}}</string>
				<key>sourceSize</key>
				<string>{129,130}</string>
			</dict>

			<key>title_bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1072},{321,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,49}}</string>
				<key>sourceSize</key>
				<string>{321,49}</string>
			</dict>

			<key>title_chondong.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1864},{111,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,49}}</string>
				<key>sourceSize</key>
				<string>{111,49}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1814},{209,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,49}}</string>
				<key>sourceSize</key>
				<string>{209,49}</string>
			</dict>

			<key>title_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1864},{205,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,49}}</string>
				<key>sourceSize</key>
				<string>{205,49}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gem_ui_en.png</string>
			</dict>
		</dict>
</plist>