<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>016d41bc-9267-4c61-adef-5f126b1ad46f.78104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,82}</string>
                <key>spriteSourceSize</key>
                <string>{189,82}</string>
                <key>textureRect</key>
                <string>{{858,71},{189,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1e032bd3-b901-4366-8a05-bfea863dd378.a7cf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,159}</string>
                <key>spriteSourceSize</key>
                <string>{771,159}</string>
                <key>textureRect</key>
                <string>{{0,222},{771,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>696ee635-3bc3-4d1b-8cda-1259256bdd86.3b4a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,35}</string>
                <key>spriteSourceSize</key>
                <string>{147,35}</string>
                <key>textureRect</key>
                <string>{{166,0},{147,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>77f2582f-2e2d-40c8-b167-f19008272479.9aaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{968,621}</string>
                <key>spriteSourceSize</key>
                <string>{968,621}</string>
                <key>textureRect</key>
                <string>{{1871,848},{968,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>amthanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,42}</string>
                <key>spriteSourceSize</key>
                <string>{266,42}</string>
                <key>textureRect</key>
                <string>{{527,0},{266,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{3435,0},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back-phai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,92}</string>
                <key>spriteSourceSize</key>
                <string>{77,92}</string>
                <key>textureRect</key>
                <string>{{1258,71},{77,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,195}</string>
                <key>spriteSourceSize</key>
                <string>{159,195}</string>
                <key>textureRect</key>
                <string>{{911,391},{159,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang123123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1090,615}</string>
                <key>spriteSourceSize</key>
                <string>{1090,615}</string>
                <key>textureRect</key>
                <string>{{781,848},{1090,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangden22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,380}</string>
                <key>spriteSourceSize</key>
                <string>{516,380}</string>
                <key>textureRect</key>
                <string>{{1695,391},{516,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,62}</string>
                <key>spriteSourceSize</key>
                <string>{306,62}</string>
                <key>textureRect</key>
                <string>{{2774,0},{306,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,100}</string>
                <key>spriteSourceSize</key>
                <string>{342,100}</string>
                <key>textureRect</key>
                <string>{{1335,71},{342,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,34}</string>
                <key>spriteSourceSize</key>
                <string>{148,34}</string>
                <key>textureRect</key>
                <string>{{18,0},{148,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{2019,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{340,71},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>download-1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1128,1469},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>download.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{2462,1469},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,165}</string>
                <key>spriteSourceSize</key>
                <string>{172,165}</string>
                <key>textureRect</key>
                <string>{{2885,222},{172,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{1923,0},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{781,510}</string>
                <key>spriteSourceSize</key>
                <string>{781,510}</string>
                <key>textureRect</key>
                <string>{{0,848},{781,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong-dan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{3175,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-bacsi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,457}</string>
                <key>spriteSourceSize</key>
                <string>{550,457}</string>
                <key>textureRect</key>
                <string>{{2911,391},{550,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{218,391},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,194}</string>
                <key>spriteSourceSize</key>
                <string>{191,194}</string>
                <key>textureRect</key>
                <string>{{720,391},{191,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-lo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,151}</string>
                <key>spriteSourceSize</key>
                <string>{170,151}</string>
                <key>textureRect</key>
                <string>{{3293,71},{170,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-lotron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,132}</string>
                <key>spriteSourceSize</key>
                <string>{109,132}</string>
                <key>textureRect</key>
                <string>{{2191,71},{109,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-maytim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{160,164}</string>
                <key>textureRect</key>
                <string>{{2191,222},{160,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-med.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,149}</string>
                <key>spriteSourceSize</key>
                <string>{166,149}</string>
                <key>textureRect</key>
                <string>{{2929,71},{166,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-muitiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,135}</string>
                <key>spriteSourceSize</key>
                <string>{176,135}</string>
                <key>textureRect</key>
                <string>{{2408,71},{176,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-nao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,164}</string>
                <key>spriteSourceSize</key>
                <string>{190,164}</string>
                <key>textureRect</key>
                <string>{{2351,222},{190,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-ongnghirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2300,71},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-phong-xa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,149}</string>
                <key>spriteSourceSize</key>
                <string>{198,149}</string>
                <key>textureRect</key>
                <string>{{3095,71},{198,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,342}</string>
                <key>spriteSourceSize</key>
                <string>{301,342}</string>
                <key>textureRect</key>
                <string>{{1394,391},{301,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-thuoc-ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,117}</string>
                <key>spriteSourceSize</key>
                <string>{145,117}</string>
                <key>textureRect</key>
                <string>{{1677,71},{145,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-thuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,323}</string>
                <key>spriteSourceSize</key>
                <string>{324,323}</string>
                <key>textureRect</key>
                <string>{{1070,391},{324,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-thuoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{2030,222},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,168}</string>
                <key>spriteSourceSize</key>
                <string>{172,168}</string>
                <key>textureRect</key>
                <string>{{3229,222},{172,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-tim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,147}</string>
                <key>textureRect</key>
                <string>{{2769,71},{160,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,185}</string>
                <key>spriteSourceSize</key>
                <string>{163,185}</string>
                <key>textureRect</key>
                <string>{{393,391},{163,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item22221111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,127}</string>
                <key>spriteSourceSize</key>
                <string>{113,127}</string>
                <key>textureRect</key>
                <string>{{1822,71},{113,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item223123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,146}</string>
                <key>spriteSourceSize</key>
                <string>{185,146}</string>
                <key>textureRect</key>
                <string>{{2584,71},{185,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item231312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,172}</string>
                <key>spriteSourceSize</key>
                <string>{218,172}</string>
                <key>textureRect</key>
                <string>{{0,391},{218,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itembonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,169}</string>
                <key>spriteSourceSize</key>
                <string>{180,169}</string>
                <key>textureRect</key>
                <string>{{3401,222},{180,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemfree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,186}</string>
                <key>spriteSourceSize</key>
                <string>{164,186}</string>
                <key>textureRect</key>
                <string>{{556,391},{164,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kobt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,44}</string>
                <key>spriteSourceSize</key>
                <string>{187,44}</string>
                <key>textureRect</key>
                <string>{{1058,0},{187,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>koro2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,56}</string>
                <key>spriteSourceSize</key>
                <string>{384,56}</string>
                <key>textureRect</key>
                <string>{{1539,0},{384,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,61}</string>
                <key>spriteSourceSize</key>
                <string>{276,61}</string>
                <key>textureRect</key>
                <string>{{2222,0},{276,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,393}</string>
                <key>spriteSourceSize</key>
                <string>{700,393}</string>
                <key>textureRect</key>
                <string>{{2211,391},{700,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,71}</string>
                <key>spriteSourceSize</key>
                <string>{181,71}</string>
                <key>textureRect</key>
                <string>{{3500,0},{181,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lsct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,81}</string>
                <key>spriteSourceSize</key>
                <string>{442,81}</string>
                <key>textureRect</key>
                <string>{{416,71},{442,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main-bangplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1128,668}</string>
                <key>spriteSourceSize</key>
                <string>{1128,668}</string>
                <key>textureRect</key>
                <string>{{0,1469},{1128,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{3240,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nen-day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1259,160}</string>
                <key>spriteSourceSize</key>
                <string>{1259,160}</string>
                <key>textureRect</key>
                <string>{{771,222},{1259,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhacnen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,43}</string>
                <key>spriteSourceSize</key>
                <string>{265,43}</string>
                <key>textureRect</key>
                <string>{{793,0},{265,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nut-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{145,58}</string>
                <key>textureRect</key>
                <string>{{2077,0},{145,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{3080,0},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{313,0},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{367,0},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{421,0},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,165}</string>
                <key>spriteSourceSize</key>
                <string>{172,165}</string>
                <key>textureRect</key>
                <string>{{3057,222},{172,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sieu-toc-main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{172,164}</string>
                <key>textureRect</key>
                <string>{{2541,222},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sieutoc-offf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{172,164}</string>
                <key>textureRect</key>
                <string>{{2713,222},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tang-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{1971,0},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,84}</string>
                <key>spriteSourceSize</key>
                <string>{211,84}</string>
                <key>textureRect</key>
                <string>{{1047,71},{211,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh-1www.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,76}</string>
                <key>spriteSourceSize</key>
                <string>{340,76}</string>
                <key>textureRect</key>
                <string>{{0,71},{340,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongtin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{3305,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tichden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{475,0},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu-quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1935,71},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuquay-offf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{2063,71},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinhdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{3370,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,61}</string>
                <key>spriteSourceSize</key>
                <string>{276,61}</string>
                <key>textureRect</key>
                <string>{{2498,0},{276,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vvinhdang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,51}</string>
                <key>spriteSourceSize</key>
                <string>{294,51}</string>
                <key>textureRect</key>
                <string>{{1245,0},{294,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>đeno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>corronapack.png</string>
            <key>size</key>
            <string>{3796,2219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cf1dbc3add24bf8633e715855f54650:4189367955f98e640802aef372204866:e130269cd30c79a1940237dd00f4821e$</string>
            <key>textureFileName</key>
            <string>corronapack.png</string>
        </dict>
    </dict>
</plist>
