<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,5}</string>
                <key>spriteSourceSize</key>
                <string>{189,5}</string>
                <key>textureRect</key>
                <string>{{0,0},{189,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,82}</string>
                <key>spriteSourceSize</key>
                <string>{189,82}</string>
                <key>textureRect</key>
                <string>{{0,453},{189,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,82}</string>
                <key>spriteSourceSize</key>
                <string>{191,82}</string>
                <key>textureRect</key>
                <string>{{0,535},{191,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,43}</string>
                <key>spriteSourceSize</key>
                <string>{190,43}</string>
                <key>textureRect</key>
                <string>{{0,617},{190,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{0,660},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{0,704},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,45}</string>
                <key>spriteSourceSize</key>
                <string>{189,45}</string>
                <key>textureRect</key>
                <string>{{0,748},{189,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,94}</string>
                <key>spriteSourceSize</key>
                <string>{191,94}</string>
                <key>textureRect</key>
                <string>{{0,793},{191,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,80}</string>
                <key>textureRect</key>
                <string>{{0,887},{192,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,7}</string>
                <key>spriteSourceSize</key>
                <string>{188,7}</string>
                <key>textureRect</key>
                <string>{{0,5},{188,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,96}</string>
                <key>spriteSourceSize</key>
                <string>{190,96}</string>
                <key>textureRect</key>
                <string>{{0,967},{190,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,93}</string>
                <key>spriteSourceSize</key>
                <string>{192,93}</string>
                <key>textureRect</key>
                <string>{{0,1063},{192,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,83}</string>
                <key>spriteSourceSize</key>
                <string>{192,83}</string>
                <key>textureRect</key>
                <string>{{0,1156},{192,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,81}</string>
                <key>spriteSourceSize</key>
                <string>{189,81}</string>
                <key>textureRect</key>
                <string>{{0,1239},{189,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,90}</string>
                <key>spriteSourceSize</key>
                <string>{191,90}</string>
                <key>textureRect</key>
                <string>{{0,1320},{191,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,13}</string>
                <key>spriteSourceSize</key>
                <string>{190,13}</string>
                <key>textureRect</key>
                <string>{{0,12},{190,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,78}</string>
                <key>textureRect</key>
                <string>{{0,25},{192,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,86}</string>
                <key>textureRect</key>
                <string>{{0,103},{190,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5232d706-a041-4b38-9541-dc4cd9bdd516.89561.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,83}</string>
                <key>spriteSourceSize</key>
                <string>{189,83}</string>
                <key>textureRect</key>
                <string>{{0,1410},{189,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,44}</string>
                <key>spriteSourceSize</key>
                <string>{191,44}</string>
                <key>textureRect</key>
                <string>{{0,189},{191,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,51}</string>
                <key>spriteSourceSize</key>
                <string>{190,51}</string>
                <key>textureRect</key>
                <string>{{0,233},{190,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7009c416-8031-45d6-9373-17057d132171.00559.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,60}</string>
                <key>spriteSourceSize</key>
                <string>{193,60}</string>
                <key>textureRect</key>
                <string>{{0,1493},{193,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,87}</string>
                <key>spriteSourceSize</key>
                <string>{190,87}</string>
                <key>textureRect</key>
                <string>{{0,284},{190,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,82}</string>
                <key>textureRect</key>
                <string>{{0,371},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3ef0a52-f0b0-4970-9b3c-cfcdfb1b8d80.dbac7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,44}</string>
                <key>spriteSourceSize</key>
                <string>{193,44}</string>
                <key>textureRect</key>
                <string>{{0,1553},{193,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{194,1597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83a104ff6c3cfeb0cbae8a5f21b8407f:aea688397dce833d5c136ded1cead512:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
